<!DOCTYPE html>
<html>

<head>
    <title>Hittaut Tracker</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="leaderboard.js" defer></script>
    <link rel="stylesheet" type="text/css" href="leaderboard.css">
</head>

<body>
    <div id="app">
        <div>
            <span class="rank">Rank</span>
            <span class="alias">Name</span>
            <span class="points">PTS</span>
        </div>
        <div v-for="score in leaderboard" :key="score.tracker_alias">
            <span class="rank">{{ score.rank }}</span>
            <span class="alias">{{ score.tracker_alias }}</span>
            <span class="points">{{ score.checkpoints }}</span>
            <span class="donation">+{{ score.donation }}</span>
        </div>
        <div class="totals">
            <span class="total_points">Point total</span>
            <span class="total_donation">Final donation</span>
            <br>
            <span class="total_points">{{ total.points }}</span>
            <span class="total_donation">{{ total.donation }}</span>
        </div>
</body>

</html>
