html {
    background-color: seagreen;
    color: white;
    font-size: 6vw;
}

.rank {
    display: inline-block;
    text-align: right;
    width: 10%;
}

.alias {
    display: inline-block;
    text-align: left;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

.points {
    display: inline-block;
    text-align: right;
    width: 15%;
}

.donation {
    display: inline-block;
    text-align: right;
    width: 30%;
}

.totals {
    margin-top: 6vw;
}

.total_points, .total_donation {
    display: inline-block;
    text-align: center;
    width: 45%;
}
